{% extends 'adminnavbar.html' %}

{% block content %}
 <style>
    .div1{
        width: 40%;
    }
    .button{
        text-align: center;
    }
    .tb1{
        padding: 50px;
    }
    .btn1{
        margin-bottom: 30px;
    }
    .div2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .label1{
        font-family: "Times New Roman";
    }
    .heading {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
    }
    .sellist{
        width: 39vw;
    }
 </style>     
<br><h2 align="center" class="heading">Add Student Data</h2>
<form action="add_student" method="post">
    {% csrf_token %}
    <div class="d-flex flex-column div2 label1">
        {% if messages %}
        {{ message.tags }}
            <div class="alert alert-success div1" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </div>
        {% endif %}
        <div class="form-floating mb-3 div1">
            <input type="text" class="form-control label1" id="studentname" placeholder="StudentName" name="txtStudentName">
            <label for="studentname" class="label1">Student Name:</label>
        </div>
        <div class="form-floating mb-3 div1">    
            <input type="number" class="form-control label1" id="studentcontact" placeholder="StudentContact" name="txtStudentPhone">
            <label for="studentcontact" class="label1">Student Contact:</label>
        </div>
        <div class="form-floating mb-3 div1">    
            <input type="email" class="form-control label1" id="studentemail" placeholder="StudentEmail" name="txtStudentEmail">
            <label for="studentemail" class="label1">Student Email:</label>
        </div>
        <div class="form-floating">
            <select class="form-select mb-3 sellist" id="selcourse" name="selCourse">
                <option selected>--Select Course--</option>
                {% for i in CourseData %}
                    <option>{{ i.course_name }}</option>
                {% endfor %}
            </select>
            <label for="selcourse">Click On SelectCourse</label>
        </div>
        <div class="form-floating">
            <select class="form-select mb-3 sellist" id="selcity" name="selCity">
                <option selected>--Select City--</option>
                {% for i in CityData %}
                    <option>{{ i.city_name }}</option>
                {% endfor %}
            </select>
            <label for="selcity">Click on SelectCity</label>
        </div>
        <div class="form-floating mb-3 div1">
            <input type="number" disabled class="form-control label" id="coursefee" placeholder="CourseFee" name="txtCourseFee">
            <label for="coursefee" class="label1">Course Fee:</label>
        </div>
        <div class="form-floating mb-3 div1">
            <input type="number" class="form-control label" id="paidfee" placeholder="PaidFee" name="txtPaidFee">
            <label for="paidfee" class="label1">Paid Fee:</label>
        </div>
        <div class="button d-grid gap-2 col-3 mx-auto btn1">    
            <input type="submit" class="btn btn-outline-dark label1" name="btnSub" value="Add Student">
        </div>
    </div>    
</form>
{% endblock %}