{% extends 'adminnavbar.html' %}

{% block content %}
<style>
   .table1{
        width: 80%;
        border: 2px solid white;
    }
</style>
<br>
<h2 align="center">Student Data</h2><br>
    <table align="center" class="table table-dark table-striped table1">
        <tr>
            <th>Id</th>
            <th>Student Name</th>
            <th>Student Contact</th>
            <th>Student Email</th>
            <th>Student City</th>
            <th>Selected Course</th>
            <th>Total Fees</th>
            <th>Paid Fees</th>
            <th>Pending Fees</th>
        </tr>
        {% for i in StudentData %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.stud_name }}</td>
                <td>{{ i.stud_phno }}</td>
                <td>{{ i.stud_email }}</td>
                <td>{{ i.stud_city }}</td>
                <td>{{ i.stud_course }}</td>
                <td></td>
                <td>{{ i.paid_fees }}</td>
                <td>{{ i.pending_fees }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}